.container{
  display: flex;
}
.search-list{
  flex-grow: 1;
  padding: 1rem;
}
.main{
  flex-grow: 3;
}
.row{
  display: flex;
  flex-direction: row;
}
.map-location{
  flex-grow: 1;
  min-height: 300px;
  width:50%;
  padding: 1rem;
  max-width: 50%;
}
.more-info{
  flex-grow: 1;
  padding: 1rem;
  max-width: 50%;
}
.padding{
  padding: 0 1rem 0 1rem;
  width: 100%;
}
.mapboxgl-map{
  height: 100%;
  width: 100%;
  min-height: 100%;
}
.mapboxgl-canvas{
  width: 100% !important;
}
.marker{
  width: 2rem;
  height: 2rem;
}
.property, .history-item{
  padding-top: 0.5rem;
}
.history-item{
  transition: all 0.2s ease-in;
}
.history-item:hover{
  cursor: pointer;
  color: #0033ff;
}
h2{
  margin: 0;
}
.error{
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: 2px solid #ff0000;
  color: #ff0000;
  width: 80%;
  text-align: center;
  margin: 1rem auto 0 auto;
}
.control{
  text-align: center;
}
input{
  border: none;
  padding: 0.25rem;
  border-bottom: 1px solid #ccc;
  margin-right: 20px;
  width: 80%;
  font-size: 1.2rem;
}
input:focus{
  outline: none;
  border-color: #0033ff;
}
button{
  background-color: #fff;
  color: #0033ff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #0033ff;
  font-size: 1.2rem;
  transition: all 0.2s ease-in;
}
button:hover{
  background-color: #0033ff;
  color: #fff;
  cursor: pointer;
}
.error-image{
  display: block;
  max-width: 100%;
}
